SUPABASE_URL=https://jyfrenrubimzlyqsvbox.supabase.co/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp5ZnJlbnJ1Ymltemx5cXN2Ym94Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTQ1NzI0NywiZXhwIjoyMDk1MDMzMjQ3fQ.6JPc8TGv5QjyvQL0gkpDQY9Ww4_Q-_sfsjyRetvjLFo